.order {
    background-color: $smokyWhite;
}

.order__wrapper {
    max-width: 1650px;
    margin: 0 auto;
    position: relative;
}

.order__container { 
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}

.order__wrapper-content {
    padding-bottom: 87px;
}

.order__title {
    max-width: 520px;
    padding-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}

.order__list {
    max-width: 525px;
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
    padding-right: 10px;
}

.order__item {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    padding-left: 55px;
    margin-bottom: 20px;
}

.order__list-number {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 28px;
}

.order__text {
    max-width: 520px;
    font-size: 20px;
    line-height: 26px;
    padding-left: 55px;
}

.order__box-image {
    position: absolute;
    top: 0;
    right: 0;
}
   

@media (max-width: 1250px) {
    .order__container {
        padding: 0 15px;
    }

    .order__box-image {
        position: static;
        max-width: 1280px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .order__wrapper {
        display: flex;
        flex-direction: column;
    }

    .order__list {
        max-width: 100%;
        margin: 0px 0 35px;
        padding: 0;
    }

    .order__wrapper-content {
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .order__list-number {
        font-size: 22px;
        top: 3px;
    }
}
@media (max-width: 360px) {
    .order__item {
        padding-left: 35px;
    }
    .order__text {
        padding-left: 35px;
    }
}
