.services__title {
    text-align: center;
}

.services__text {
    @extend %AlegreyaSans-Regular;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.services__product,
.services__product-description {
    margin-bottom: 100px;
} 