//color
$white: #FFFFFF;
$black: #000000;
$smokyWhite: #EBEBEB;
$lightGrey: #EFEFEF;
$extraLightGrey: #F2F2F2;

//fonts
%Inter-Bold {
    font-family: 'Inter-Bold';
    font-weight: 700;
}

%Inter-SemiBold {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
}

%PTSans-Narrow {
    font-family: 'PTSans-Narrow';
    font-weight: 400;
}

%PTSans-NarrowBold {
    font-family: 'PTSans-NarrowBold';
    font-weight: 700;
}

%AlegreyaSans-Regular {
    font-family: 'AlegreyaSans-Regular';
    font-weight: 400;
}